.clients {
    padding: 140px 0px;
    position: relative;
    background-color: #012F34;
}
.clients__container::before{
    position: absolute;
    display: block;
    content: '';
    width: 400px;
    height: 400px;
    background-image: url('../img/clients-bg.svg');
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}
.clients__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-bottom: 64px;
}
.clients__list {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}
@media only screen and (max-width:850px) {
    .clients__list img{
        max-width: 100px;
        height: auto;
    }
}
@media only screen and (max-width:600px) {
    .clients__container::before{
       width: 100px;
       height: 100px;
       background-size: contain;
    }
    .clients{
        padding: 80px 0px;
    }
    .clients__title{
        margin-top: 50px;
        font-size: 32px;
    }
    .clients__list {
        flex-direction: column;
    }
    .clients__list img{
        max-width: 200px !important;
        height: auto;
    }
    .clients__list li{
        margin-bottom: 50px;
    }
}