html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: $font-family;
    color: $White;
    background-color: $midnight-Green;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0px 25px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    height: auto;
}

h1 .large {
    font-size: 100px;
    font-weight: bold;
    line-height: 100px;
}

h1 .small {
    font-weight: bold;
    font-size: 64px;
    line-height: 56px;
}

h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
}

.btn-primary {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    padding: 11px 33px;
    border-radius: 30px;
    border: 1px solid white;
    background: transparent;
    color: white;
    transition: 0.3s ease;
    white-space: nowrap;

    &:hover {
        color: $midnight-Green;
        background-color: $White;
    }
}

.btn-primary--disabled {
    opacity: 0.6;

    &:hover {
        opacity: 0.5;
        color: $White;
        background-color: transparent;
    }
}

.btn-secondary {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    padding: 11px 33px;
    border-radius: 30px;
    border: none;
    background: $White;
    color: $midnight-Green;
    transition: 0.3s;

    &:hover{
        background-color: #9ee7e6;
    }
}

.btn-secondary--disabled{
    opacity: 0.25;
}